@use "@/common/styles/styleConstants" as *;

.loader {
    width: 70px;
    aspect-ratio: 1;
    border: 2px solid $color-medium-grey;
    border-bottom-color: $color-loader;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}